/*  your css code here. If applicable */
table {
	border-collapse: separate;
	border-spacing: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
}

th {
  font-weight: bold;
  background: #fff;
}

tbody tr:nth-child(odd) td{
  background-color: #ffffff; 
}

tbody tr:nth-child(even) td{
  background-color: #f2f2f2;
}
